div.Selected-item {
  background: rgba(246, 243, 244, 0.39);
  box-shadow: 0 8px 32px 0 rgba(41, 45, 109, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10px 10px;
  height: 100vh;
  border-top-right-radius: 35px;
}
#selected > img {
  height: 200px;
  width: 200px;
  z-index: 11;
  border-radius: 20px;

  margin: 10px 0px 0px 10px;
}
.Svgs > img {
  z-index: 11;
  height: 60px;
  width: 60px;
}
div.clear > img {
  position: relative;
  margin: 0px 1px 100px 500px;
  height: 0.6rem;
  width: 0.6rem;
  z-index: 10;
}
div.clear {
  width: 0.6rem;
  height: 0.6rem;
}
#selected {
  display: flex;
  flex-direction: row;
  font-size: 0.2rem;
  gap: 10px;
}
div.specs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  gap: 0.5rem;
  justify-content: center;
}
div.Svgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
}
div.Svgs > img,
p {
  align-self: center;
  word-wrap: break-word;
}
.Svgs > p {
  font-size: 0.5rem;
}
button {
  border: none;
  border-radius: 15px;
  background-color: rgba(235, 221, 203, 0.363);
  height: 10%;
  width: 80%;
  margin-left: 50px;
  font-family: monospace;
  font-size: 20px;
}
